@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";
@use "pkg:@snappy/theme/core" as *;

.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.section-desktop {
  gap: space.lg();
}

.controls {
  flex-shrink: 0;
}

.section-mobile .controls {
  padding-top: space.sm();
  padding-bottom: space.sm();
}

.section-desktop .controls {
  display: flex;
  flex-direction: column;
  gap: space.md();
}

.toggle-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: space.sm();
}

.section-mobile .toggle-row {
  margin-bottom: space.sm();
}

.section-desktop .toggle-row {
  max-width: tokens.layout-column-wide();
}

.tabs-length {
  margin-bottom: space.sm();
}

.tabs-style {
  margin-bottom: space.sm();
}

.submit-row {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  gap: space.sm();
  align-items: center;
  margin-top: space.md();
}

.section-desktop .submit-row {
  margin-top: space.sm();
}
