@use "pkg:@snappy/theme/overlay";
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";
@use "./scss/layout";

.wrap {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.wrap[data-mobile] {
  position: relative;
  height: 100%;
}

.overlay-top {
  @include overlay.top;
}

.corner {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: calc(space.sm() + env(safe-area-inset-top, 0px)) calc(space.md() + env(safe-area-inset-right, 0px))
    space.sm() calc(space.md() + env(safe-area-inset-left, 0px));
}

.corner-right {
  display: flex;
  gap: space.md();
  align-items: center;
  justify-self: end;
}

.scroll {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  padding: layout.$main-padding-block-start calc(space.md() + env(safe-area-inset-right, 0px))
    env(safe-area-inset-bottom, 0) calc(space.md() + env(safe-area-inset-left, 0px));
  margin: 0;
  overflow: auto;
}

.main-dashboard {
  overflow: hidden;
}

.wrap[data-desktop] {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main {
    width: 100%;
    max-width: tokens.content-width();
    padding: space.lg();
    padding-bottom: space.x2xl();
    margin: 0 auto;
  }

  .main.main-dashboard {
    padding-bottom: space.x3xl();
  }
}
