@use "pkg:@snappy/theme/overlay";
@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";
@use "./scss/layout";

.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  min-height: 0;
  overflow: hidden;
}

.mobile-header {
  display: none;
}

.desktop-header {
  display: block;
}

.scroll {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  max-width: tokens.content-width();
  padding: space.lg();
  padding-bottom: space.x2xl();
  margin: 0 auto;
  overflow: auto;
}

.main-dashboard {
  padding-bottom: space.x3xl();
  overflow: hidden;
}

@include core.mobile {
  $mobile-inline-padding-right: calc(space.sm() + env(safe-area-inset-right, 0px));
  $mobile-inline-padding-left: calc(space.sm() + env(safe-area-inset-left, 0px));

  .wrap {
    position: relative;
    height: 100%;
  }

  .mobile-header {
    display: block;
    @include overlay.top;
  }

  .corner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: calc(space.sm() + env(safe-area-inset-top, 0px)) $mobile-inline-padding-right space.sm()
      $mobile-inline-padding-left;
  }

  .corner-right {
    display: flex;
    gap: space.md();
    align-items: center;
    justify-self: end;
  }

  .desktop-header {
    display: none;
  }

  .scroll {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .main {
    max-width: none;
    padding: layout.$main-padding-block-start $mobile-inline-padding-right env(safe-area-inset-bottom, 0)
      $mobile-inline-padding-left;
  }

  .main-dashboard {
    padding-bottom: 0;
  }
}
