@use "pkg:@snappy/theme/overlay";
@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";

.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  min-height: 0;
  overflow: hidden;
}

.mobile-header {
  display: none;
}

.desktop-header {
  display: block;
}

.scroll {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.main-safe {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  max-width: tokens.content-width();
  padding: space.lg();
  padding-bottom: space.x2xl();
  margin: 0 auto;
  overflow: auto;
}

@include core.mobile {
  .wrap {
    position: relative;
    height: 100%;
  }

  .mobile-header {
    display: block;
    @include overlay.top;
  }

  .corner {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: space.sm() space.md();
  }

  .corner-right {
    display: flex;
    gap: space.md();
    align-items: center;
    justify-self: end;
  }

  .desktop-header {
    display: none;
  }

  .scroll {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .main {
    max-width: none;
    padding: calc(#{tokens.field-height()} + #{space.sm()}) space.sm() space.sm();
  }
}
