@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/material/panel";

.root {
  display: flex;
  flex-direction: column;
  gap: space.xl();
  width: 100%;
}

.presets {
  display: flex;
  flex-direction: column;
  gap: space.md();
  width: 100%;
}

.presets-header {
  padding-bottom: space.sm();
  margin-bottom: space.xs();
  border-bottom: 1px solid panel.border-soft();
}

.group {
  display: flex;
  flex-direction: column;
  gap: space.md();

  &:not(:first-child) .group-header {
    margin-top: space.lg();
  }
}

.card {
  flex: none;
  width: 100%;
}
