@use "pkg:@snappy/theme/space";

$-control-h: 2rem;
$-row-gap-y: space.xs();

.row {
  min-width: 0;
}

.row + .row {
  padding-top: $-row-gap-y;
}

.scroller {
  min-width: 0;
  min-height: $-control-h;
  overflow: visible;
}

.scroll-content {
  padding-block: $-row-gap-y;
  margin-block: calc(#{$-row-gap-y} * -1);
  overflow: auto visible;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}
