@use "pkg:@snappy/theme/tokens/space";

.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: space.md();
  width: 100%;
}

.head {
  display: flex;
  grid-column: 1 / -1;
  justify-content: flex-end;
}

.heading {
  grid-column: 1 / -1;
}
