@use "pkg:@snappy/theme/tokens/space";

.root {
  display: flex;
  flex-direction: column;
  gap: space.md();
  width: 100%;
}

.actions {
  display: flex;
  gap: space.sm();
  align-items: stretch;
}

.card {
  flex: none;
  width: 100%;
}
