@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/radius";
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/typography";

.root {
  @include focus($radius: radius.lg());
  @include typography.caption-sm;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: space.xs() space.sm();
  font-variant-numeric: tabular-nums;
}
