@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/tokens";

.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: space.md();
  min-height: 0;
  padding: tokens.layout-gutter();
  overflow: auto;
}

.head {
  display: flex;
  gap: space.md();
  align-items: center;
}

.title {
  min-width: 0;
  margin: 0;
}

@include mobile {
  .section {
    padding-top: space.lg();
  }
}
