.root {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  padding: var(--space-2) var(--space-4);
  margin-top: var(--space-1);
  border-radius: var(--radius-sm);
}

.root.error {
  color: var(--color-error);
  background: var(--color-error-bg);
}

.root.warning {
  color: var(--color-warning);
  background: var(--color-warning-bg);
}

.root.success {
  color: var(--color-success);
  background: var(--color-success-bg);
}

.root.info {
  color: var(--color-accent);
  background: var(--color-info-bg);
}

.text {
  flex: 1 1 0;
  min-width: 0;
}
