@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/space";

.root {
  display: flex;
  gap: space.x3();
  align-items: center;
  padding: space.x2() space.x4();
  margin-top: space.x1();
  border-radius: var(--radius-sm);
}

.root.error {
  color: color.error();
  background: color.error-bg();
}

.root.warning {
  color: color.warning();
  background: color.warning-bg();
}

.root.success {
  color: color.success();
  background: color.success-bg();
}

.root.info {
  color: color.accent();
  background: color.info-bg();
}

.text {
  flex: 1 1 0;
  min-width: 0;
}
