/* stylelint-disable property-disallowed-list */

.viewport {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: clip;
  -webkit-tap-highlight-color: transparent;
}

.disable-selection {
  user-select: none;

  a {
    -webkit-user-drag: none;
    user-select: none;
  }
}

.wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.main-safe {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
