/* stylelint-disable property-disallowed-list */

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.viewport {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  -webkit-tap-highlight-color: transparent;
}
