.desc-divider {
  position: relative;
  padding: var(--space-5) 0;
}

.desc-divider::after {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  height: 1px;
  content: "";
  background: var(--color-divider);
}

.list dd:last-child::after {
  display: none;
}
