@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/space";
@use "pkg:@snappy/ui/typography";

.root {
  @include typography.button;
  display: inline-flex;
  gap: space.x2();
  align-items: center;
  justify-content: center;
  padding: space.x3() space.x6();
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-sm);
  transition: var(--transition-btn);
}

.root:focus-visible {
  outline: var(--focus-ring-outline);
  outline-offset: var(--focus-ring-outline-offset);
}

.primary {
  color: color.on-accent();
  background: color.accent();
  box-shadow: var(--shadow-btn);
}

.primary:hover {
  text-decoration: none;
  box-shadow: var(--shadow-btn-hover);
  transform: translateY(-2px);
}

.large {
  @include typography.button-large;
  padding: space.x4() space.x8();
}

.large.primary {
  @include typography.button-large;
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  transform: none;
}
