@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/core" as *;
@use "pkg:@snappy/ui/space";
@use "pkg:@snappy/ui/typography";

@mixin button-skin($bg, $text-color) {
  color: $text-color;
  background: $bg;
}

.wrapper {
  --ripple-color: var(--ripple-default);

  position: relative;
  display: inline-flex;
  overflow: visible;
  outline: none;
  border: none;
  border-radius: var(--radius-sm);
  transition: var(--transition-btn);
}

.wrapper:has(.primary) {
  --ripple-color: var(--ripple-primary);
}

.root {
  @include typography.button;

  position: relative;
  display: inline-flex;
  gap: space.x2();
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--field-height);
  padding: space.x3() space.x6();
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-sm);
  transition:
    var(--transition-btn),
    background-color var(--ease);
}

@include hover(".root") {
  text-decoration: none;
  outline: none;
}

.root:focus-visible {
  outline: var(--focus-ring-outline);
  outline-offset: var(--focus-ring-outline-offset);
}

.root:not(.primary, .link) {
  @include button-skin(color.button-default(), color.text-body());
}

.primary {
  @include button-skin(color.accent(), color.on-accent());
}

.link {
  color: color.accent();
  background: transparent;
  border: 2px dotted currentcolor;
}

@include hover(".root:not(.primary):not(.link)") {
  background: color.button-default-hover();
}

@include hover(".root.primary") {
  background: color.accent-hover();
}

@include hover(".root.link") {
  background: color.accent-ghost();
}

.large {
  @include typography.button-large;

  padding: space.x4() space.x8();
}

.large.primary {
  @include typography.button-large;
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  transform: none;
}
