@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/tokens";

.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: space.md();
  min-height: 0;
  padding: tokens.layout-gutter();
  overflow: auto;
}
