@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";

.root {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: space.md();
}

.trailing {
  display: flex;
  gap: space.lg();
  align-items: center;
  justify-self: end;
}

@include mobile {
  .trailing {
    gap: space.md();
  }
}
