@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/typography";

.root {
  display: flex;
  flex-direction: column;
  gap: space.xs();
  width: 100%;
}

.hint {
  @include typography.caption;

  color: color.text();
}

.file-name {
  @include typography.caption;

  color: color.text();
  word-break: break-all;
}
