@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";

.root {
  position: relative;
  text-align: center;
}

.lead {
  max-width: tokens.content-narrow();
  margin: 0 auto space.xl();
}

.hero {
  padding-block: space.x3xl() space.lg();
}

.hero > :first-child {
  margin-bottom: space.md();
}

.section {
  padding: space.x2xl() space.lg();
  margin-block-start: space.x2xl();
}

.section::before {
  position: absolute;
  inset-inline: 20%;
  top: 0;
  height: 1px;
  content: "";
  background: linear-gradient(
    to right,
    transparent 0%,
    color.divider-line() 25%,
    color.divider-line() 75%,
    transparent 100%
  );
}

.section > :first-child {
  margin-bottom: space.sm();
}

.section .lead {
  max-width: tokens.layout-column();
  margin: 0 auto space.lg();
}

.cta {
  display: flex;
  flex-wrap: wrap;
  gap: space.md();
  justify-content: center;
}

.cta > * {
  @include primitives.inline-row-center;
}

@include core.mobile {
  .hero {
    padding-block: space.x2xl() space.lg();
  }

  .hero .lead {
    margin-bottom: space.xl();
  }

  .section {
    padding: space.x2xl() space.md();
    margin-block-start: space.xl();
  }

  .section::before {
    inset-inline: 10%;
  }

  .cta {
    width: 100%;
  }

  .hero .cta {
    flex-direction: column;
    gap: space.md();
  }

  .cta > * {
    width: 100%;
  }
}
