@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/overlay";
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";

.header {
  position: sticky;
  top: 0;
  z-index: 1;

  @include overlay.top(false);
}

.inner {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: space.md();
  align-items: center;
  max-width: tokens.content-width();
  padding: space.md() space.lg();
  margin-inline: auto;
}

.nav {
  display: flex;
  gap: space.lg();
  align-items: center;
  justify-self: end;
}

@include core.mobile {
  .inner {
    padding-inline: space.md();
  }

  .nav {
    gap: space.md();
  }
}
