@use "pkg:@snappy/theme/tokens/icon-size";
@use "pkg:@snappy/theme/tokens/tokens";

.root {
  display: flex;
  gap: calc(#{tokens.icon-button-touch-size()} - #{icon-size.md()});
  align-items: center;
}
