.root {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 1.25em;
  min-width: 1.25em;
  height: 1.25em;
  min-height: 1.25em;
  overflow: visible;
  vertical-align: middle;
  color: inherit;
}

.root svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}
