@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/tokens";

.root {
  @include primitives.inline-row-center;
  @include primitives.square(tokens.icon-size(), $min: true);

  flex-shrink: 0;
  overflow: visible;
  vertical-align: middle;
  color: inherit;
}

.root svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}
