/* stylelint-disable property-disallowed-list */
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/tokens/tokens";

.root {
  @include primitives.inline-row-center;
  @include primitives.square(1em);

  flex-shrink: 0;
  overflow: visible;
  line-height: 1;
  vertical-align: middle;
}

.emoji {
  transform: scale(0.85);
  transform-origin: center;
}

.icon {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  stroke: currentcolor;
}
