@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/core" as *;
@use "pkg:@snappy/ui/space";

.wrapper {
  --ripple-color: var(--ripple-default);

  position: relative;
  display: inline-flex;
  width: fit-content;
  overflow: hidden;
  color: color.text-muted();
  outline: none;
  border: none;
  border-radius: 50%;
}

.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: space.x10();
  height: space.x10();
  padding: 0;
  font-size: space.x5();
  line-height: 1;
  color: color.text-muted();
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 50%;
  transition:
    color var(--ease),
    background-color var(--ease);
}

@include hover(".root") {
  outline: none;
  background: color.accent-ghost();
}

.root:focus-visible {
  @include focus;
}
