// cspell:word wght opsz
/* stylelint-disable property-disallowed-list */
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/tokens/tokens";

.root {
  @include primitives.inline-row-center;
  @include primitives.square(1em);

  flex-shrink: 0;
  overflow: visible;
  line-height: 1;
  vertical-align: middle;
}

.emoji {
  transform: scale(0.85);
  transform-origin: center;
}

.material {
  font-family: "Material Symbols Rounded", sans-serif;
  font-variation-settings:
    "FILL" 0,
    "wght" 350,
    "GRAD" 0,
    "opsz" var(--icon-optical-size);
  font-style: normal;
  font-weight: normal;
  font-feature-settings: "liga";
  text-transform: none;
  letter-spacing: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
