@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/core" as *;
@use "pkg:@snappy/ui/space";

.suffix {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: space.x10();
  border-inline-start: 1px solid color.border();
}

.suffix > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suffix-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: space.x5();
  height: space.x5();
  font-size: space.x5();
}

.suffix-icon > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  color: color.text-muted();
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  transition: color var(--ease);
}

@include hover(".suffix-icon > *") {
  color: color.text-body();
}

.suffix-icon > *:focus {
  outline: none;
}

.suffix-icon > *:focus-visible {
  @include focus;

  color: color.accent();
}

.suffix-icon > *:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
