/* stylelint-disable property-disallowed-list */
@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/elevation";
@use "pkg:@snappy/theme/tokens/radius";
@use "pkg:@snappy/theme/surface";
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/motion";
@use "pkg:@snappy/theme/tokens/tokens";
@use "pkg:@snappy/theme/tokens/typography";

.root {
  margin-bottom: space.md();
}

.slot {
  display: flex;
  flex: 1 1 0;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 0;

  & > .row {
    flex: 1 1 0;
    min-width: 0;
  }
}

.label {
  @include typography.body;

  position: absolute;
  top: 50%;
  left: space.md();
  padding: 0;
  line-height: 1.5;
  pointer-events: none;
  background: transparent;
  border-radius: 0;
  transform: translateY(-50%);
  transition:
    top motion.default(),
    transform motion.default(),
    color motion.default(),
    font-size motion.default(),
    padding motion.default(),
    border-radius motion.default(),
    background-color motion.default();
}

.surface {
  @include surface.surface;
  @include elevation.e1;

  position: relative;
  border-radius: radius.sm();

  .slot .control {
    padding-top: 1.5em;
  }

  &:focus-within {
    @include surface.primary;
    @include elevation.e2;
  }

  &:focus-within,
  &.has-value {
    .label {
      @include surface.primary;
      @include typography.caption-sm;

      top: 0;
      padding: 0 0.25em;
      border-radius: radius.xs();
      transform: translateY(calc(-50% - r(1)));
      transition:
        top motion.default(),
        transform motion.default(),
        color motion.default(),
        font-size motion.default(),
        padding motion.default(),
        border-radius motion.default(),
        background-color motion.default();
    }

    .slot .control {
      padding-top: space.sm();
    }
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.control {
  flex: 1 1 0;
  width: 0;
  min-width: 0;
  height: tokens.field-height();
  padding: space.sm() space.md();
  border: none;

  &:focus {
    border-color: transparent;
  }
}

.field {
  position: relative;
  display: flex;
  flex: 1 1 0;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 0;
}

.suffix {
  @include primitives.row-center;
  @include primitives.square(tokens.field-height());

  flex-shrink: 0;
  border-inline-start: 1px solid color.outline();
}
