/* stylelint-disable property-disallowed-list */
@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/tokens";

.wrap {
  height: 100vh;
}

.mobile-header,
.desktop-header {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
}

.mobile-header {
  display: none;
}

.desktop-header {
  display: block;
}

.scroll {
  height: 100%;
  overflow: hidden auto;
  scroll-behavior: smooth;
}

.main-safe {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: tokens.content-width();
  min-height: 100%;
  padding: space.lg() space.lg() space.x2xl();
  margin: 0 auto;
}

@include mobile {
  .mobile-header {
    display: block;
  }

  .desktop-header {
    display: none;
  }

  .main {
    max-width: none;
    padding: space.sm();
  }
}
