@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/radius";

.accent {
  color: color.primary();

  @include focus($radius: radius.xs());

  @include hover {
    text-decoration: underline;
  }
}

.muted {
  color: color.text-muted();

  @include focus($radius: radius.xs());

  @include hover {
    color: color.text();

    * {
      color: inherit;
    }
  }
}
