@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/core" as *;

.accent {
  color: color.accent();
  text-decoration: none;
}

@include hover(".accent") {
  text-decoration: underline;
}

.muted {
  color: color.text-muted();
  text-decoration: none;
}

@include hover(".muted") {
  color: color.text-body();

  * {
    color: inherit;
  }
}

.accent:focus-visible,
.muted:focus-visible {
  outline: var(--focus-ring-outline);
  outline-offset: var(--focus-ring-outline-offset);
  border-radius: 4px;
}
