.root {
  position: relative;
  padding: var(--space-5) 0;
}

.root:not(:last-child)::after {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  height: 1px;
  content: "";
  background: var(--color-divider);
}
