@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/core" as *;
@use "pkg:@snappy/ui/space";

.logo {
  display: inline-flex;
  gap: space.x2();
  align-items: center;
  text-decoration: none;
}

.logo:focus-visible {
  @include focus;

  border-radius: 4px;
}

.logo-icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.25em;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
  color: color.accent();
  letter-spacing: -0.05rem;
  text-shadow: var(--logo-text-shadow);
}
