@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/radius";
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";

.logo {
  @include primitives.inline-row;

  gap: space.sm();

  @include focus($radius: radius.xs());
}

.logo-icon {
  @include primitives.square(tokens.icon-size());
}

.logo-text {
  font-size: tokens.icon-size();
  font-weight: normal;
  line-height: 1;
  color: color.primary();
  letter-spacing: -0.03em;
  text-shadow: tokens.logo-text-shadow();
}
