@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/tokens/animation";
@use "pkg:@snappy/theme/tokens/radius";
@use "pkg:@snappy/theme/tokens/space";

.strength-track {
  position: absolute;
  right: space.md();
  bottom: r(5);
  left: space.md();
  height: r(6);
  overflow: hidden;
  pointer-events: none;
  background: color.backdrop();
  border: 1px solid color.surface();
  border-radius: radius.xs();
}

.strength-fill {
  height: 100%;
  transition: width animation.standard-md();
}

.weak {
  background: color.error();
}

.medium {
  background: color.warning();
}

.strong {
  background: color.success();
}
