@use "pkg:@snappy/theme/core" as core;

@include core.mobile {
  .top {
    padding-top: env(safe-area-inset-top, 0);
  }

  .right {
    padding-right: env(safe-area-inset-right, 0);
  }

  .bottom {
    padding-bottom: env(safe-area-inset-bottom, 0);
  }

  .left {
    padding-left: env(safe-area-inset-left, 0);
  }
}
