@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/animation";
@use "pkg:@snappy/theme/tokens/tokens";

$-surface: animation.standard-sm();
$-thumb: animation.sharp-sm();

.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: tokens.icon-button-touch-size();
  height: space.lg();
  background: color.surface();
  border: 1px solid color.outline();
  border-radius: calc(#{space.lg()} * 0.5);
  transition:
    background-color $-surface,
    border-color $-surface;

  &[data-disabled] {
    opacity: 0.5;
  }

  .thumb {
    @include primitives.circle(r(18));

    position: absolute;
    top: 50%;
    left: tokens.accent-edge();
    background: color.primary();
    border: 1px solid transparent;
    transform: translateY(-50%);
    transition:
      transform $-thumb,
      background-color $-thumb,
      border-color $-thumb;
  }

  &.checked {
    background: color.primary();
    border-color: color.primary();

    .thumb {
      background: color.surface();
      border-color: transparent;
      transform: translate(calc(#{tokens.icon-button-touch-size()} - 2 * #{tokens.accent-edge()} - #{r(18)}), -50%);
    }
  }
}
