.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  vertical-align: middle;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  outline: none;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: not-allowed;
  }
}
