/* stylelint-disable selector-pseudo-class-no-unknown */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-inline-end: var(--space-2);
  vertical-align: middle;
  background: var(--icon-telegram) center / contain no-repeat;
}

:global([data-theme="light"]) .icon {
  filter: brightness(0) invert(1);
}
