@use "pkg:@snappy/theme/tokens/motion";
@use "pkg:@snappy/theme/tokens/typography";

.root {
  @include typography.body;

  display: block;
  flex: 1;
  width: 100%;
  min-width: 0;
  height: 1lh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  scrollbar-gutter: stable;
  resize: none;
  scrollbar-width: none;
  border: none;
  transition: height motion.default();
  field-sizing: fixed;

  &::-webkit-scrollbar {
    display: none;
  }
}
