@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/typography";

.rich-text {
  @include typography.body;

  margin: 0;
  color: color.text();
  overflow-wrap: anywhere;
  white-space: normal;
}
