@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/space";
@use "pkg:@snappy/ui/typography";

.input {
  @include typography.body;
  color: color.text-body();
  min-height: 140px;
  padding: space.x4();
  resize: vertical;
}
