@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";

.root {
  padding-inline-start: space.md();
  margin: 0 0 space.md();
  border-inline-start: #{tokens.accent-edge()} solid color.primary();
}

.lead {
  margin: 0 0 space.md();
}

@include core.mobile {
  .root {
    margin-bottom: space.sm();
  }
}
