@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/tokens";

.root {
  padding-inline-start: space.md();
  margin: 0 0 space.md();
  border-inline-start: tokens.accent-edge() solid color.primary();
}

.lead {
  margin: 0 0 space.md();
}

@include mobile {
  .root {
    margin-bottom: space.sm();
  }
}
