/* stylelint-disable property-disallowed-list */

@property --mask-progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

$-x: var(--theme-transition-x, 50%);
$-y: var(--theme-transition-y, 50%);
$-svg-size: 64;
$-blur: 4;
$-blur-spill: $-blur * 4;
$-view-size: $-svg-size + $-blur-spill * 2;
$-center: $-view-size * 0.5;
$-circle-radius: $-svg-size * 0.5 - $-blur;
$-circle: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$-view-size} #{$-view-size}'><defs><filter id='blur' x='-50%' y='-50%' width='200%' height='200%'><feGaussianBlur stdDeviation='#{$-blur}'/></filter></defs><circle cx='#{$-center}' cy='#{$-center}' r='#{$-circle-radius}' fill='white' filter='url(%23blur)'/></svg>");
$-mask-end: 250vmax;
$-mask-half: $-mask-end * 0.5;
$-motion: 720ms linear;

/**
* ? Cool effect from https://theme-toggle.rdsx.dev/
* * GitHub: https://github.com/rudrodip/theme-toggle-effect
* ! Animations: https://theme-toggle.rdsx.dev/animations.txt
*/
:root[data-theme-transition] {
  &,
  & *,
  & *::before,
  & *::after {
    transition: none !important;
  }

  & *,
  & *::before,
  & *::after {
    view-transition-name: none !important;
  }

  &::view-transition-new(root) {
    --mask-progress: 0;

    mask: #{$-circle} #{$-x} #{$-y} / 0 no-repeat;
    mask-position: calc(#{$-x} - var(--mask-progress) * var(--mask-progress) * #{$-mask-half})
      calc(#{$-y} - var(--mask-progress) * var(--mask-progress) * #{$-mask-half});
    mask-size: calc(var(--mask-progress) * var(--mask-progress) * #{$-mask-end});
    animation: theme-mask-progress $-motion both;
  }

  &::view-transition-old(root) {
    z-index: -1;
    animation: none;
  }
}

@keyframes theme-mask-progress {
  to {
    --mask-progress: 1;
  }
}
