@use "pkg:@snappy/theme/tokens/animation";

$-x: var(--theme-transition-x, 50%);
$-y: var(--theme-transition-y, 50%);
$-svg-size: 64;
$-blur: 4;
$-blur-spill: $-blur * 4;
$-view-size: $-svg-size + $-blur-spill * 2;
$-center: $-view-size * 0.5;
$-circle-radius: $-svg-size * 0.5 - $-blur;
$-circle: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$-view-size} #{$-view-size}'><defs><filter id='blur' x='-50%' y='-50%' width='200%' height='200%'><feGaussianBlur stdDeviation='#{$-blur}'/></filter></defs><circle cx='#{$-center}' cy='#{$-center}' r='#{$-circle-radius}' fill='white' filter='url(%23blur)'/></svg>");
$-mask-end: 250vmax;
$-mask-end-offset: $-mask-end * 0.5;
$-motion: animation.soft-lg();

/**
* ? Cool effect from https://theme-toggle.rdsx.dev/
* * GitHub: https://github.com/rudrodip/theme-toggle-effect
* ! Animations: https://theme-toggle.rdsx.dev/animations.txt
*/
:root[data-theme-transition] {
  &,
  & *,
  & *::before,
  & *::after {
    transition: none !important;
  }

  & *,
  & *::before,
  & *::after {
    view-transition-name: none !important;
  }

  &::view-transition-new(root) {
    mask: #{$-circle} #{$-x} #{$-y} / 0 no-repeat;
    animation: view-transition-theme-scale $-motion both;
  }

  &::view-transition-old(root) {
    animation: view-transition-theme-fade-out $-motion both;
  }
}

@keyframes view-transition-theme-scale {
  to {
    mask-position: calc(#{$-x} - #{$-mask-end-offset}) calc(#{$-y} - #{$-mask-end-offset});
    mask-size: $-mask-end;
  }
}

@keyframes view-transition-theme-fade-out {
  to {
    opacity: 0;
  }
}
