@use "pkg:@snappy/theme/tokens/animation";

:root:not([data-theme-transition]) {
  &::view-transition-group(root) {
    animation-timing-function: animation.easing-function();
  }

  &::view-transition-old(root),
  &::view-transition-new(root) {
    animation-duration: animation.duration-default();
  }

  &::view-transition-old(root) {
    animation-name: view-transition-route-fade-out;
    animation-fill-mode: both;
  }

  &::view-transition-new(root) {
    animation-name: view-transition-route-fade-in;
    animation-fill-mode: both;
  }
}

@keyframes view-transition-route-fade-in {
  from {
    opacity: 0;
  }
}

@keyframes view-transition-route-fade-out {
  to {
    opacity: 0;
  }
}
