@import "@fontsource-variable/inter";

@import "./src/css/variables.css";
@import "./src/css/base.css";
@import "./src/css/layout.css";
@import "./src/css/components.css";
@import "./src/css/responsive.css";
