@import url("@fontsource-variable/inter");
@import url("./src/css/variables.css");
@import url("./src/css/base.css");
@import url("./src/css/layout.css");
@import url("./src/css/components.css");
@import url("./src/css/responsive.css");
