@use "../../typography" as typography;

.root {
  min-width: 0;
  margin-block: typography.body-em(16);
  overflow-x: auto;
}

.root:last-child {
  margin-block-end: 0;
}

.root + .root {
  margin-block-start: typography.body-em(28);
}
