@use "pkg:@snappy/ui/color";

@mixin overlay-fixed($dir, $y, $fixed: true) {
  @if $fixed {
    position: fixed;
    inset-inline: 0;
    z-index: 2;

    @if $y > 0 {
      inset-block-start: 0;
    } @else {
      inset-block-end: 0;
    }
  }

  background: linear-gradient(
    $dir,
    color-mix(in oklch, color.overlay() 70%, transparent) 0%,
    color-mix(in oklch, color.overlay() 50%, transparent) calc(100% - 12px),
    color-mix(in oklch, color.overlay() 25%, transparent) calc(100% - 4px),
    transparent 100%
  );
  border-block-end: if($y > 0, 1px solid color.border(), none);
  border-block-start: if($y < 0, 1px solid color.border(), none);
  box-shadow: 0 ($y * 2px) 8px oklch(0% 0 0deg / 3%);
  backdrop-filter: blur(8px);
}

@mixin top($fixed: true) {
  @include overlay-fixed(180deg, 1, $fixed);
}

@mixin bottom($fixed: true) {
  @include overlay-fixed(0deg, -1, $fixed);
}
