/* stylelint-disable property-disallowed-list */
@use "pkg:@snappy/theme/elevation";
@use "pkg:@snappy/theme/surface";
@use "pkg:@snappy/theme/table";
@use "pkg:@snappy/theme/tokens/radius";
@use "pkg:@snappy/theme/tokens/space";

.scroll {
  @include table.frame;
  @include table.scroll;
}

.pad {
  @include table.body-table;
  @include table.pad;
  @include surface.surface;
  @include elevation.e1;

  overflow: hidden;
  border-radius: radius.md();
}

.root {
  @include table.layout;
}

.head-cell,
.cell {
  @include table.cell;

  vertical-align: middle;
}

.head-cell {
  @include surface.primary;
}

.cell-inner {
  display: flex;
  align-items: center;
  min-height: space.xl();
  padding: space.sm() space.md();
}

.left .cell-inner {
  justify-content: flex-start;
}

.right .cell-inner {
  justify-content: flex-end;
}
