/* stylelint-disable property-disallowed-list */
@use "sass:list";

$-colors: #38bdf8, #22c55e, #eab308, #f97316, #ef4444, #c026d3;
$-shadow: #0f172a;

@keyframes shift {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.root {
  display: inline-block;
  flex-shrink: 0;
  width: 0.58em;
  height: 1.05em;
  margin-left: 0.2em;
  vertical-align: text-bottom;
  background-image: linear-gradient(to top right, list.append($-colors, list.nth($-colors, 1)));
  background-position: 100% 0%;
  background-size: 600% 600%;
  box-shadow:
    0 0 2px 0.5px color-mix(in srgb, $-shadow 58%, transparent),
    0 0 5px 1.5px color-mix(in srgb, $-shadow 40%, transparent);
  animation: shift 0.75s linear infinite;
}

.hidden {
  visibility: hidden;
}

.partial {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}
