@use "sass:list";

$-colors: #38bdf8, #22c55e, #eab308, #f97316, #ef4444, #c026d3;
$-spectrum: linear-gradient(to top right, list.append($-colors, list.nth($-colors, 1)));

@keyframes shift {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

@mixin spectrum {
  background-image: $-spectrum;
  background-position: 100% 0%;
  background-size: 600% 600%;
  animation: shift 0.75s linear infinite;
}

.root {
  @include spectrum;

  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 0.58em;
  height: 1.05em;
  margin-left: 0.2em;
  vertical-align: text-bottom;
}

.trail {
  margin-left: 1px;

  &::before {
    @include spectrum;

    position: absolute;
    top: 0;
    right: calc(100% + 1px);
    width: 6.5em;
    height: 100%;
    pointer-events: none;
    content: "";
    border-radius: 0 0.45em 0.45em 0;
    mask-image: linear-gradient(to right, transparent 0%, rgb(0 0 0 / 55%) 45%, black 100%);
  }
}

.hidden {
  visibility: hidden;
}

.partial {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}
