@use "pkg:@snappy/theme/tokens/animation";

$-transition: animation.settle-lg();

.composer {
  pointer-events: none;
  transition:
    top $-transition,
    bottom $-transition,
    transform $-transition,
    padding-bottom $-transition;

  > * {
    width: 100%;
    pointer-events: auto;
  }

  &.composer-idle {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  &:not(.composer-idle) {
    top: auto;
    transform: none;
  }
}
