@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";

.root-idle {
  display: flex;
  flex-direction: column;
  gap: space.md();
  width: 100%;
}

.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: space.md();
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
