/* stylelint-disable property-disallowed-list */
@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/tokens/tokens";
@forward "r" show r;

$breakpoint-mobile: 768px;

@mixin media-hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin hover {
  @include media-hover {
    &:hover:not(:disabled) {
      @content;
    }
  }
}

@mixin pressed {
  @media (hover: none), (pointer: coarse) {
    &:active:not(:disabled) {
      @content;
    }
  }
}

@mixin focus($ring-color: null, $radius: null) {
  &:focus-visible {
    outline-offset: tokens.focus-offset();

    @if $radius {
      border-radius: $radius;
    }

    @if $ring-color {
      outline: 2px solid $ring-color;
    } @else {
      outline: 2px solid color.primary();
    }
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}
