@use "pkg:@snappy/theme/glass";
@use "pkg:@snappy/theme/color";

@mixin -fixed($y, $fixed: true) {
  @if $fixed {
    position: fixed;
    inset-inline: 0;
    z-index: 1;

    @if $y > 0 {
      inset-block-start: 0;
    } @else {
      inset-block-end: 0;
    }
  }

  @include glass.card;

  @if $y > 0 {
    border-block-end: 1px solid color.border();
  } @else if $y < 0 {
    border-block-start: 1px solid color.border();
  }

  box-shadow: 0 ($y * 2px) 8px rgb(0 0 0 / var(--a-shadow));
}

@mixin top($fixed: true) {
  @include -fixed(1, $fixed);
}

@mixin bottom($fixed: true) {
  @include -fixed(-1, $fixed);
}
