@mixin stack-row {
  display: flex;
  align-items: center;
}

@mixin row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inline-row {
  display: inline-flex;
  align-items: center;
}

@mixin inline-row-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-center {
  display: grid;
  place-items: center;
}

@mixin circle($size) {
  @include square($size);

  border-radius: 50%;
}

@mixin square($size) {
  width: $size;
  min-width: $size;
  max-width: $size;
  height: $size;
  min-height: $size;
  max-height: $size;
}
