@use "pkg:@snappy/theme/tokens/space";

.block {
  display: grid;
  gap: space.xs();
}

.with-header {
  padding-block: space.md();
}

.compact {
  padding-block: space.xs();
}

.header {
  padding-inline: space.md();
}

.form {
  gap: space.md();
  padding: space.md();
}
