@use "pkg:@snappy/theme/tokens/space";

.block {
  display: grid;
  gap: space.xs();
  padding-block: space.xs();

  &.with-header {
    padding-block-start: space.md();
  }

  &.form {
    gap: space.md();
    padding: space.md();
    padding-block-end: space.xs();
  }
}

.header {
  padding-inline: space.md();
}