/* stylelint-disable property-disallowed-list */
@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/tokens/motion";
@use "pkg:@snappy/theme/tokens/tokens";
@use "pkg:@snappy/theme/tokens/typography";
@use "pkg:@snappy/theme/surface";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  @include typography.body;

  width: 100%;
  min-height: 100dvh;
  margin: 0;
  color: color.text();
  background: color.backdrop();
  transition:
    color motion.default(),
    background-color motion.default();
}

::selection {
  @include surface.primary;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  outline: none;
  background: transparent;

  &::placeholder {
    color: inherit;
    opacity: 0.8;
  }
}

button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  appearance: none;
  outline: none;
  background: none;
  border: none;
}

:where(a:any-link) {
  text-decoration: none;
}

:where(a:visited) {
  color: inherit;
}
