@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/tokens";
@use "pkg:@snappy/theme/typography";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  @include typography.body;

  position: relative;
  min-height: 100vh;
  margin: 0;
  color: color.text();
  background: color.bg();
  transition:
    color tokens.ease(),
    background-color tokens.ease();
}

::selection {
  color: color.on-primary();
  background: color.primary();
}

button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  color: inherit;
  text-align: inherit;
  appearance: none;
  outline: none;
  background: none;
  border: none;
}

a {
  text-decoration: none;
}
