/* stylelint-disable property-disallowed-list */
@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/tokens/animation";
@use "pkg:@snappy/theme/tokens/tokens";
@use "pkg:@snappy/theme/tokens/typography";
@use "pkg:@snappy/theme/material/surface";

html {
  height: 100dvh;
  overflow: clip;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  @include typography.body;

  width: 100%;
  height: 100%;
  margin: 0;
  overflow: clip;
  color: color.text();
  background: color.backdrop();
  transition:
    color animation.standard-md(),
    background-color animation.standard-md();
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: clip;
}

::selection {
  @include surface.primary;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  outline: none;
  background: transparent;

  &::placeholder {
    color: inherit;
    opacity: 0.8;
  }
}

button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  letter-spacing: inherit;
  appearance: none;
  outline: none;
  background: none;
  border: none;
}

:where(h1, h2, h3, h4, h5, h6, p, pre) {
  margin: 0;
}

:where(a:any-link) {
  color: inherit;
  text-decoration: none;
}
