:root[data-theme="dark"] {
  --color-text: #e7ebf4;
  --color-backdrop: #242f42;
  --color-surface: #171f2c;
  --color-outline: #445067;
  --color-rim: #394457;
  --color-rim-weight: 0.76;
  --color-primary: #5a9eff;
  --color-error: #f87171;
  --color-warning: #fbbf24;
  --color-success: #4ade80;
  --color-info: #2ec9b8;
}
