:root[data-theme="light"] {
  --color-text: #1a1d24;
  --color-backdrop: #cfd6e5;
  --color-surface: #f5f8fe;
  --color-outline: #627493;
  --color-rim: #fff;
  --color-rim-weight: 1;
  --color-primary: #154fa3;
  --color-error: #960000;
  --color-warning: #7f4200;
  --color-success: #005f00;
  --color-info: #005a6d;
}
