:root[data-theme="light"] {
  --color-text: #1a1d24;
  --color-backdrop: #dae1ed;
  --color-surface: #f5f8fe;
  --color-outline: #627493;
  --color-rim: #fff;
  --color-rim-weight: 1;
  --color-primary: #0e56c9;
  --color-error: #960000;
  --color-warning: #7f4200;
  --color-success: #005f00;
  --color-info: #067d94;
}
