[data-theme="dark"] {
  --h-neutral: 286deg;
  --h-accent: 195deg;
  --l-bg: 7%;
  --l-bg-elevated: 9%;
  --l-border: 32%;
  --l-muted: 68%;
  --l-body: 91%;
  --l-heading: 100%;
  --l-overlay: 100%;
  --l-accent: 89%;
  --l-on-accent: 7%;
  --l-semantic: 82%;
  --l-warning: 82%;
  --l-success: 65%;
  --l-card-tint: 28%;
  --l-card-tint-hover: 32%;
  --c-neutral: 0.002;
  --c-neutral-strong: 0.012;
  --c-accent: 0.12;
  --c-semantic: 0.17;
  --a-ghost: 2%;
  --a-subtle: 6%;
  --a-light: 12%;
  --a-surface: 90%;
  --a-card: 30%;
  --a-card-hover: 75%;
  --a-shadow: 4%;
}
