[data-theme="light"] {
  --logo-text-shadow: 0 1px 0 #0000001f, 0 2px 0 #00000014, 0 3px 4px #0000001a;
  --color-bg: #f5f5f6;
  --color-bg-elevated: #fff;
  --color-border: #e0e1e6;
  --color-button-default-hover-theme: #8e8e97;
  --color-text-muted: #68686f;
  --color-text-body: #1a1a1c;
  --color-text-heading: #070707;
  --color-accent: #008889;
  --color-on-accent: #fff;
  --color-accent-secondary: #7c3aed;
  --color-on-accent-secondary: #fff;
  --color-error: #d01d21;
  --color-warning: #f5ba00;
  --color-success: #1eab53;
  --color-bg-card-border: #0000001a;
  --color-bg-icon: #0000000d;
  --color-bg-card-features: #c2dedd4d;
  --color-bg-card-features-hover: #bbd8d7b3;
  --color-grid: #00000008;
  --color-overlay: #d7d7dbe6;
}
