[data-theme="dark"] {
  --logo-text-shadow: 0 1px 0 #ffffff61, 0 2px 0 #ffffff3d, 0 4px 10px #0000008c;
  --color-bg: #010101;
  --color-bg-elevated: #020203;
  --color-border: #323239;
  --color-button-default-hover-theme: #5d5d66;
  --color-text-muted: #97979e;
  --color-text-body: #e1e1e4;
  --color-text-heading: #fff;
  --color-accent: #69f4f3;
  --color-on-accent: #010101;
  --color-accent-secondary: #a78bfa;
  --color-on-accent-secondary: #1a0a2e;
  --color-error: #ff9487;
  --color-warning: #f5ba00;
  --color-success: #1eab53;
  --color-bg-card-border: #ffffff1a;
  --color-bg-icon: #ffffff0d;
  --color-bg-card-features: #162e2d4d;
  --color-bg-card-features-hover: #203838b3;
  --color-grid: #ffffff08;
  --color-overlay: #242427eb;
}
