@use "pkg:@snappy/theme/core" as *;

.scroll {
  @include desktop {
    &:not(&-dimmed) {
      flex: 1 0 auto;
      min-height: auto;
      overflow: visible;
    }
  }

  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  overflow: clip;

  &-y {
    overflow-y: auto;
  }

  &-dimmed {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
  }
}
