@use "pkg:@snappy/theme/color";

@mixin shadow {
  box-shadow:
    0 2px 4px color.a-shadow(),
    0 1px 2px color.a-shadow();
}

@mixin active-surface {
  background: color.accent-soft();
  border: 1px solid color.primary-border();
  backdrop-filter: blur(8px);

  @include shadow;
}
