@use "pkg:@snappy/ui/space";

.wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: space.x6() space.x4();
}

.logo {
  flex-shrink: 0;
  margin-bottom: space.x6();
}

.title {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: space.x4();
  text-align: start;
}

.content {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  width: 100%;
  min-height: 0;
}
