@use "pkg:@snappy/ui/space";

.wrap {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.corner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: calc(space.x3() + env(safe-area-inset-top, 0px)) calc(space.x4() + env(safe-area-inset-right, 0px))
    space.x3() calc(space.x4() + env(safe-area-inset-left, 0px));
}

.corner-right {
  display: flex;
  flex-direction: row;
  gap: space.x4();
  align-items: center;
}

.scroll {
  min-height: 0;
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
}

.main {
  box-sizing: border-box;
  padding: space.x2() calc(space.x4() + env(safe-area-inset-right, 0px)) space.x4()
    calc(space.x4() + env(safe-area-inset-left, 0px));
  margin: 0;
}

.safe-bottom {
  min-height: env(safe-area-inset-bottom, 0);
}
