.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  max-width: var(--content-width);
  padding: var(--space-6);
  margin: 0 auto;
}
