@import url("@fontsource-variable/inter");
@import url("../css/variables.css");
@import url("../css/base.css");

/* View Transition API: cross-fade between routes */
@supports (view-transition-name: none) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
  }
}
