@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/space";

.status {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  margin-right: space.xs();
}

.message {
  flex: 1;
  line-height: 1.35;
  min-width: 0;
}

.spinner {
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid color.primary();
  border-top-color: transparent;
  border-radius: 999px;
  animation: spin 1s linear infinite;
}

.icon {
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
