@use "pkg:@snappy/ui/color";

.accent {
  color: color.accent();
}

.on-accent {
  color: color.on-accent();
}

.error {
  color: color.error();
}

.warning {
  color: color.warning();
}

.success {
  color: color.success();
}

.info {
  color: color.accent();
}

.heading {
  color: color.text-heading();
}

.body {
  color: color.text-body();
}

.muted {
  color: color.text-muted();
}
