@use "pkg:@snappy/theme/color";

.accent {
  color: color.primary();
}

.on-accent {
  color: color.on-primary();
}

.error {
  color: color.error();
}

.warning {
  color: color.warning();
}

.success {
  color: color.success();
}

.info {
  color: color.primary();
}

.heading {
  color: color.text();
}

.body {
  color: color.text();
}

.muted {
  color: color.text-muted();
}
