/* stylelint-disable property-disallowed-list */
@use "sass:map";
@use "sass:meta";
@use "pkg:@snappy/theme/tokens/icon-size" as icon-size;

$functions: meta.module-functions("icon-size");

@each $name, $px in icon-size.$values {
  .#{$name} {
    --icon-optical-size: #{$px};

    font-size: meta.call(map.get($functions, $name));
  }
}
