@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/tokens";

.row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: space.md();
  align-items: center;
  width: 100%;
  min-height: tokens.field-height();
  padding-block: space.sm();
  padding-inline: space.md();
  text-align: left;
}

.row-no-icon {
  grid-template-columns: 1fr auto;
}
