@use "pkg:@snappy/theme/tokens/space";

$-inset: space.sm();

.block {
  display: grid;
  padding-block: $-inset;

  &.with-header {
    padding-block-start: space.md();
  }

  &.form {
    gap: space.md();
    padding: space.md();

    .header {
      padding-block-end: 0;
      padding-inline: 0;
    }
  }
}

.header {
  display: grid;
  gap: space.xs();
  padding-block-end: $-inset;
  padding-inline: space.md();
}
