@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/material/surface";

.focus {
  @include focus;
}

.selected {
  @include surface.primary-hover($no-border: true);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  overflow: hidden;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
