@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/tokens";

.panel-page {
  width: 100%;
}

.panel-card {
  width: 100%;
  max-width: tokens.content-narrow();
  padding: space.xl();
  margin-inline: auto;
}

.panel-form {
  margin-top: space.md();
}

.wrap {
  width: 100%;
  max-width: tokens.content-narrow();
  margin-inline: auto;
}

.title {
  margin-bottom: space.md();
  text-align: start;
}

.mobile-form {
  width: 100%;
}

@include mobile {
  .wrap {
    padding: space.x2xl() space.md() 0;
  }

  .panel-card {
    padding: space.md();
  }
}
