/* stylelint-disable property-disallowed-list */
.host {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.host::before {
  position: absolute;
  inset: 0;
  content: "";
  background: none;
}
