@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/tokens/space";

.card {
  width: 100%;
  min-width: 0;
  padding: space.md();
}

.root {
  display: flex;
  flex-direction: column;
}

.title + .field,
.title + .actions {
  padding-top: space.md();
  margin-top: space.md();
  border-top: 1px solid color.outline();
}

.field + .field,
.field + .actions {
  padding-top: space.md();
  margin-top: space.md();
  border-top: 1px solid color.outline();
}

.actions {
  display: flex;
  gap: space.xs();
  justify-content: flex-end;
}
