.list {
  display: grid;
  gap: var(--space-3);
  padding: 0;
  margin: 0;
  list-style: none;
}

.row {
  position: relative;
  padding: var(--space-3) 0;
}

.row::after {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  height: 1px;
  content: "";
  background: var(--color-divider);
}

.list dd:last-child::after,
.list > .row:last-child::after {
  display: none;
}

.row-with-icon {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-3) var(--space-4);
  align-items: start;
}

.row-with-icon .icon {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  font-size: 1.75rem;
  line-height: 1;
}

.row-with-icon dt,
.row-with-icon dd {
  grid-column: 2;
}

.row-with-icon dd {
  margin: 0;
}

@media (width <= 640px) {
  .row-with-icon {
    gap: var(--space-2) var(--space-3);
  }

  .row-with-icon .icon {
    font-size: 1.5rem;
  }
}
