@use "pkg:@snappy/theme/scale-token" as scale;

$values: (
  sm: 16,
  md: 24,
  lg: 32,
  xl: 40,
  xxl: 64,
  xxxl: 96,
);

@mixin root {
  @include scale.root("icon-size", $values);
}

@function -icon-size($name) {
  @return scale.var-ref("icon-size", $name);
}

@function sm() {
  @return -icon-size("sm");
}

@function md() {
  @return -icon-size("md");
}

@function lg() {
  @return -icon-size("lg");
}

@function xl() {
  @return -icon-size("xl");
}

@function xxl() {
  @return -icon-size("xxl");
}

@function xxxl() {
  @return -icon-size("xxxl");
}
