@use "pkg:@snappy/theme/scale-token" as scale;

$values: (
  xs: 4,
  sm: 6,
  md: 12,
  lg: 20,
);

@mixin root {
  @include scale.root("radius", $values);
}

@function -radius($name) {
  @return scale.var-ref("radius", $name);
}

@function xs() {
  @return -radius("xs");
}

@function sm() {
  @return -radius("sm");
}

@function md() {
  @return -radius("md");
}

@function lg() {
  @return -radius("lg");
}
