@use "pkg:@snappy/theme/core" as *;

$values: (
  xs: 4,
  sm: 8,
  md: 16,
  lg: 24,
  xl: 32,
  "2xl": 48,
  "3xl": 96,
);

@function -var($segment) {
  @return --space-#{$segment};
}

@mixin root {
  @each $name, $px in $values {
    #{-var($name)}: #{r($px)};
  }
}

@function -space($name) {
  @return var(#{-var($name)});
}

@function xs() {
  @return -space("xs");
}

@function sm() {
  @return -space("sm");
}

@function md() {
  @return -space("md");
}

@function lg() {
  @return -space("lg");
}

@function xl() {
  @return -space("xl");
}

@function x2xl() {
  @return -space("2xl");
}

@function x3xl() {
  @return -space("3xl");
}
