@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/typography" as typography;

.root {
  display: flex;
  flex-direction: column;
  gap: space.md();
  width: 100%;
  padding: space.md();
}

.section {
  display: flex;
  flex-direction: column;
  gap: space.sm();
}

.section-title {
  @include typography.h3;

  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: space.md();
}
