@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/typography";

.list {
  display: grid;
  gap: space.sm();
  padding: 0;
  margin: 0;
  list-style: none;
}

.row {
  position: relative;
  padding: space.sm() 0;
}

.row::after {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  height: 1px;
  content: "";
  background: color.divider();
}

.list dd:last-child::after,
.list > .row:last-child::after {
  display: none;
}

.row-with-icon {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: space.sm() space.md();
  align-items: start;
}

.row-with-icon .icon {
  @include typography.h1;

  grid-row: 1;
  grid-column: 1;
  align-self: center;
  font-weight: 400;
  line-height: 1;
}

.row-with-icon dt,
.row-with-icon dd {
  grid-column: 2;
}

.row-with-icon dd {
  margin: 0;
}

@include core.mobile {
  .row-with-icon {
    gap: space.sm() space.sm();
  }

  .row-with-icon .icon {
    @include typography.h2;

    font-weight: 400;
  }
}
