@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";

.list {
  display: grid;
  gap: space.md();
  margin: 0;
  list-style: none;
}

.row-with-icon {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: space.sm() space.md();
  align-items: start;
}

.row-with-icon .icon {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
}

.row-with-icon dt,
.row-with-icon dd {
  grid-column: 2;
}

.row-with-icon dd {
  margin: 0;
}

@include mobile {
  .row-with-icon {
    gap: space.sm() space.sm();
  }
}
