@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/space";

.feature {
  padding: space.x6();
  background: color.bg-card-features();
  border: 1px solid color.bg-card-border();
  border-radius: var(--radius);
  box-shadow: var(--shadow-card);
  transition: var(--transition);
}

.feature:hover {
  background: color.bg-card-features-hover();
  box-shadow: var(--shadow-card-hover);
  transform: scale(1.02);
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: space.x12();
  padding: space.x3() space.x4();
  margin-block-end: space.x4();
  font-size: space.x8();
  background: color.bg-icon();
  border-radius: var(--radius-sm);
}

@media (width <= 640px) {
  .feature {
    padding: space.x5();
  }
}
