@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/tokens";

.feature {
  max-width: tokens.content-narrow();
  padding: space.lg();
}

.feature-icon {
  @include primitives.inline-row-center;

  min-width: space.x2xl();
  padding: space.sm() space.md();
  margin-block-end: space.md();
}

@include mobile {
  .feature {
    padding: space.md();
  }
}
