@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/color";
@use "../scss/layout";

.footer {
  display: flex;
  flex-direction: column;
  gap: space.lg();
  align-items: center;
  padding-block: space.xl();
  border-top: 1px solid color.outline();
}

.tagline {
  @include layout.muted;

  text-align: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: space.sm() space.md();
  align-items: center;
  justify-content: center;
}

.rights {
  @include layout.muted;

  text-align: center;
}
