@use "pkg:@snappy/ui/space";

.main {
  max-width: var(--content-width);
  padding: 0 space.x6() space.x8();
  margin-inline: auto;
}

@media (width <= 640px) {
  .main {
    padding-inline: space.x4();
  }
}
