@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";

.main {
  max-width: tokens.content-width();
  padding: 0 space.lg() space.xl();
  margin-inline: auto;
}

@include core.mobile {
  .main {
    padding-inline: space.md();
  }
}
