@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/tokens/tokens";

.main {
  max-width: tokens.content-width();
  padding: 0 space.lg() space.xl();
  margin-inline: auto;
}

@include mobile {
  .main {
    padding-inline: space.md();
  }
}
