@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/tokens/space";
@use "pkg:@snappy/theme/core" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: space.md();
  align-items: center;
  padding-block: space.x3xl() space.lg();
  text-align: center;

  &.bordered {
    padding: space.x2xl() space.lg();
    margin-block-start: space.x2xl();
    border-top: 1px solid color.outline();
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: space.md();
  justify-content: center;
}

@include mobile {
  .root {
    padding-block: space.x2xl() space.lg();

    &.bordered {
      padding-inline: space.md();
      margin-block-start: space.xl();
    }
  }

  .actions {
    flex-direction: column;
    width: 100%;

    > * {
      width: 100%;
    }
  }
}
