@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";

.section {
  padding-block: space.xl();
  scroll-margin-top: space.x2xl();
}

@include mobile {
  .section {
    padding-block: space.lg();
  }
}
