@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";

.section {
  display: flex;
  flex-direction: column;
  gap: space.lg();
  padding-block: space.x2xl();
  scroll-margin-top: space.x2xl();
}

@include mobile {
  .section {
    gap: space.md();
    padding-block: space.xl();
  }
}
