@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/space";

.section {
  padding-block: space.xl();
  scroll-margin-top: space.x2xl();
}

@include core.mobile {
  .section {
    padding-block: space.lg();
  }
}
