@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";

.root {
  display: flex;
  gap: space.lg();
  align-items: center;
}

.actions {
  display: flex;
  gap: space.sm();
  align-items: center;
}

.system {
  display: inline-flex;
  margin-inline-end: space.sm();
}

@include mobile {
  .system {
    display: none;
  }
}
