@use "pkg:@snappy/ui/color";
@use "pkg:@snappy/ui/space";

.footer {
  padding: space.x10() space.x6();
  margin-block-start: space.x12();
  background: color.bg-elevated();
  border-block-start: 1px solid color.border();
}

.inner {
  max-width: var(--content-width);
  margin-inline: auto;
  text-align: center;
}

.logo {
  display: inline-flex;
  gap: space.x2();
  align-items: center;
  margin-block-end: space.x3();
}

.tagline {
  margin: 0 0 space.x2();
}

@media (width <= 640px) {
  .footer {
    padding: space.x10() space.x4();
    margin-block-start: space.x8();
  }
}
