@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/space";

.nav {
  display: flex;
  gap: space.lg();
  align-items: center;
}

.site-header {
  @include mobile {
    .nav a {
      display: none;
    }
  }
}

@include mobile {
  .nav {
    gap: space.md();
  }
}
