@use "pkg:@snappy/theme/core" as core;
@use "pkg:@snappy/theme/overlay";
@use "pkg:@snappy/theme/space";
@use "pkg:@snappy/theme/tokens";

.footer {
  @include overlay.bottom(false);

  padding: space.xl() space.lg();
  margin-block-start: space.x2xl();
}

.inner {
  max-width: tokens.content-width();
  margin-inline: auto;
  text-align: center;
}

.logo {
  display: inline-flex;
  gap: space.sm();
  align-items: center;
  margin-block-end: space.sm();
}

.tagline {
  margin: 0 0 space.sm();
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: space.md();
  justify-content: center;
}

@include core.mobile {
  .footer {
    padding: space.xl() space.md();
    margin-block-start: space.xl();
  }
}
