@use "pkg:@snappy/theme/core" as *;
@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/tokens/space";

.main {
  width: 100%;
  padding-block: space.sm();
  color: color.text();
}

.flush {
  padding-block: 0;
}

@include mobile {
  .main:not(.flush) {
    padding-block: space.xs();
  }
}
