@use "pkg:@snappy/theme/tokens/color";
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/tokens/space";

.steps {
  display: grid;
  gap: space.md();
  padding: 0;
  margin: 0;
  list-style: none;
}

.steps li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: space.sm();
  align-items: center;
}

.marker {
  @include primitives.grid-center;
  @include primitives.circle(space.xl());

  color: color.text();
  background: color.primary();
}
