@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/tokens/space";
@use "../scss/layout";

.steps {
  @include layout.reset-list;

  display: grid;
  gap: space.md();
}

.steps li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: space.sm();
  align-items: center;
}

.marker {
  @include primitives.grid-center;
  @include primitives.circle(space.xl());
}
