@use "pkg:@snappy/theme/color";
@use "pkg:@snappy/theme/primitives";
@use "pkg:@snappy/theme/radius";
@use "pkg:@snappy/theme/space";

.steps {
  display: grid;
  gap: space.md();
  padding: 0;
  margin: 0;
  list-style: none;
}

.steps li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: space.sm();
  align-items: center;
}

.marker {
  @include primitives.grid-center;
  @include primitives.square(space.xl());

  color: color.on-primary();
  background: color.primary();
  border-radius: radius.full();
}
