@use "pkg:@snappy/theme/tokens/space";
@use "../scss/layout";

.tile {
  display: flex;
  flex-direction: column;
  gap: space.sm();
  height: 100%;
  padding: space.lg();
}

.desc {
  @include layout.muted;
}
